@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

body{
    height: 100vh;
    width: 100vw;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordian {
    width: 400px;
    height: 31px;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.accordian div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    background-color: rgb(238, 236, 236);
    padding-inline: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.accordian div button{
    background: none;
    border: none;
}

.accordian p{
    border: 1px solid gray;
    background-color: rgb(238, 236, 236);
    border-top: none;
    padding-inline: 10px;
    font-size: 14px;
}

.dec{
    max-height: max-content;
    height: 200px;
}